<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.hello" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://cordova.apache.org/ns/1.0">
    <name>Srini Testing App</name>
    <description>
        AAGIT Time Tracking Mobile Application
    </description>
    <author email="cpratt@ikmsgroup.com" href="http://www.ikmsgroup.com/">
        AAGIT Team
    </author>
     <preference name="phonegap-version" value="3.6.3" />
    <content src="index.html" />
    <access origin="*" />
    
    <!-- <feature name="http://api.phonegap.com/1.0/file"/> -->
    <feature name="http://api.phonegap.com/1.0/geolocation"/>

  
  <gap:plugin name="jp.wizcorp.phonegap.plugin.wizSpinnerPlugin" source="plugins.cordova.io" />
</widget>
